<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
    </header>

    <article>
        <time>published: 26.05.24, 11:19</time>
        <h2><a href="">My first post</a></h2>
        <p>hello there it's me again your chikaDura!</p>
    </article>

    <article>
        <time>published: 26.05.24, 11:19</time>
        <h2><a href="">My first post</a></h2>
        <p>hello there it's me again your chikaDura!</p>
    </article>
</body>
</html>